Multipart parsing barfs on Riak link walk body

Found while writing riak_test for link walking. I think it is the parser and the body returned by the link walk query is correct. Try: 

webmachine_multipart:get_all_parts(list_to_binary("\r\n--UvEgscOlsihVbv6inze7HSj0PLe\r\nContent-Type: multipart/mixed; boundary=a6y3iiUBGN7BsyUTrtKWtSGc75X\r\n\r\n--a6y3iiUBGN7BsyUTrtKWtSGc75X\r\nX-Riak-Vclock: a85hYGBgzGDKBVIcR4M2cgdcaPTNYEpkzGNlKP7rcoovCwA=\r\nLocation: /riak/test_bucket/2\r\nContent-Type: application/octet-stream\r\nLink: </riak/test_bucket/3>; riaktag=\"next\", </riak/test_bucket>; rel=\"up\"\r\nEtag: 3GS7hwS5DlD2J2W2qkSITC\r\nLast-Modified: Tue, 18 Dec 2012 14:45:07 GMT\r\n\r\nv2\r\n--a6y3iiUBGN7BsyUTrtKWtSGc75X--\r\n\r\n--UvEgscOlsihVbv6inze7HSj0PLe--\r\n"), "UvEgscOlsihVbv6inze7HSj0PLe").

It doesn't seem to like our request+body within multipart scheme


This was a fun, relatively shallow rabbit hole. [The leading `\r\n` from Riak](https://github.com/basho/riak_kv/blob/develop-3.0/src/riak_kv_wm_link_walker.erl#L428) is not the header/body separator. It is, in fact, the start of the first boundary. From [section 7.2.1 of RFC1341](https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html#z0):

> Note that the encapsulation boundary must occur at the beginning of a line, i.e., following a CRLF, and that that initial CRLF is considered to be part of the encapsulation boundary rather than part of the preceding part. The boundary must be followed immediately either by another CRLF and the header fields for the next part, or by two CRLFs, in which case there are no header fields for the next part (and it is therefore assumed to be of Content-Type text/plain).
> 
> NOTE: The CRLF preceding the encapsulation line is considered part of the boundary so that it is possible to have a part that does not end with a CRLF (line break). Body parts that must be considered to end with line breaks, therefore, should have two CRLFs preceding the encapsulation line, the first of which is part of the preceding body part, and the second of which is part of the encapsulation boundary.
> 
> _The requirement that the encapsulation boundary begins with a CRLF implies that the body of a multipart entity must itself begin with a CRLF before the first encapsulation line -- that is, if the "preamble" area is not used, the entity headers must be followed by TWO CRLFs. This is indeed how such entities should be composed. A tolerant mail reading program, however, may interpret a body of type multipart that begins with an encapsulation line NOT initiated by a CRLF as also being an encapsulation boundary, but a compliant mail sending program must not generate such entities._

My emphasis on the last paragraph. The leading `\r\n` in Riak's response is to mark the end of the preamble. Of course, two paragraphs later:

> There appears to be room for additional information prior to the first encapsulation boundary and following the final boundary. These areas should generally be left blank, and implementations should ignore anything that appears before the first boundary or after the last one.
> 
> NOTE: These "preamble" and "epilogue" areas are not used because of the lack of proper typing of these parts and the lack of clear semantics for handling these areas at gateways, particularly X.400 gateways.

So the preamble is always blank in practice, so most implementations just let the line break separating the entity headers from the body count as the line break denoting the end of the preamble and beginning the first encapsulation boundary. But, webmachine should be a "tolerant mail reading program", and allow for the leading CRLF.

That PR fixed this in the simple way. If people get serious about multipart entities, this module might need some additional attention.